<h1>New team</h1>
<h1>Enter member's first name!!!</h1>
<%= bootstrap_form_tag url: project_teams_path do |f|%>
  <div class="text-left">
    <%= f.text_area :users %>
    <%= f.submit "Create Team", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
