<div class="container">
  <h1>Edit Comment</h1>
  <%= @comment.errors.full_messages.join(", ") %>
  <%= simple_form_for [@project, @discussion, @comment] do |f| %>
  <div class="text-left" >
      <%= f.input :body %>
    </div>
      <%= f.button :submit, class: "btn btn-default btn-primary" %>
  <% end %>
</div>
