<h2>Edit Task</h2>
<%= @task.errors.full_messages.join(",") %>
<%= simple_form_for [@project, @task] do |f| %>
  <div class="text-left" >
    <%= f.input :title %>
  </div>
    <%= f.button :submit, class: "btn btn-default btn-primary"%>
<% end %>
<hr>
