<div class="container">
  <h1>About Us</h1>
  <%= image_tag "me.jpg", :size => "400x300" %>
  <p>
  <ul>
    <li>Name: Paul Lam</li>
    <li>Occupation: Web Developer</li>
    <li>Interests: Tennis, Skiing, Sailing, Guitar</li>
  </ul>
    Junior Full Stack Web Developer, financial technology enthusiast and aspiring tennis-player. I specialize in Ruby on Rails, HTML, CSS, JavaScript, Node, and Bootstrap. Logical thinker with an innovative approach to problems backed up by critical thinking skills acquired from previous experience in business. Open to new opportunities.
  </p>
</div>
