<div class="bg"></div>
<div class="container">
  <div class="jumbotron">
    <div class="text-center" id="jumbotron-text">
      <h1>be more productive</h1>
      <p>Do you have have trouble organzing tasks for your team? <br /> Give this app a try!</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <a class="btn project" href="https://paul-lam-pm-tool.herokuapp.com/projects/new">Create a Project</a>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <a class="btn register" href="https://paul-lam-pm-tool.herokuapp.com/users/new">Sign Up</a>
    </div>
  </div>
</div>
