<h2>Discussions</h2>

<% @project.discussions.each do |discussion| %>
  <h4><%= link_to discussion.title, project_discussion_path(@project, discussion) %></h4>
  <p>Created by: <%= discussion.user.full_name if discussion.user %></p>
  <%= link_to "Edit", edit_project_discussion_path(@project, discussion) %>
  <%= link_to "Delete", project_discussion_path(@project, discussion), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
  <hr>
<% end %>
