<h2>New Task</h2>
<%= @task.errors.full_messages.join(",") %>
<%= bootstrap_form_for [@project, @task] do |f| %>
  <div class="text-left" >
      <%= f.text_area :title %>
  </div>
  <%= f.submit "Add Task", class: "btn btn-default btn-primary"%>
<% end %>
<hr>
