<h2>Enter your task</h2>
<%#= @task.errors.full_messages.join(",") %>
<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label "Body" %>
    <div>
      <%= f.text_area :title %>
    </div>
  </div>
    <%= f.submit "Add Task"%>
<% end %>
<hr>
