/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";

 // Import cerulean variables
 @import "bootswatch/cerulean/variables";

 // Then bootstrap itself
 @import "bootstrap";

 // Bootstrap body padding for fixed navbar
 body { padding-top: 60px; }

 // And finally bootswatch style itself
 @import "bootswatch/cerulean/bootswatch";

@import url(https://fonts.googleapis.com/css?family=Chewy)

html {
  height: 100%;
}

.container {
  //  background-color: #a6d640;
}

li {
  list-style-type: none
}

.field_with_errors input {
  border-color: red
}
//
body {
  background-image: image-url("PM.jpg");
  // background-color: #a6d640 !important;
}


.jumbotron {
    max-width: 80%;
    margin: auto;
  background-color: #a6d640 !important;
}

.flash-notice {
  width: 100%;
  height: 40px;
  background-color: green;
}

.flash-alert {
  width: 100%;
  height: 40px;
  background-color: red;
}

#nav-title {
  color: #6a941b;
  background-color: white;
  font-family: Chewy;
}

.navbar.navbar-default.navbar-fixed-top li a{
    color: #182b69;
}


.control-label {
  display: block;
}

.checkbox {
  display: inline;
  margin: 5px;
}
