/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .container {
   background-color: #a6d640;
 }

li {
  list-style-type: none
}
//
// a:hover {
//   color: #1d369f;
// }
//
// a {
//   text-decoration: none;
//   text-align: center;
//   color: orange
// }
//
.field_with_errors input {
  border-color: red
}
//
body {
  background-image: url("PM.jpg");
  z-index: 0;
}


.jumbotron {
  max-width: 80%;
  margin: auto;
}
//
// .page_counter {
//   text-align: left;
//   margin: 30px 20px 0px 0px;
// }
//
// .posts_list {
//   margin-top: 30px;
// }

.flash-notice {
  width: 100%;
  height: 40px;
  background-color: green;
}

.flash-alert {
  width: 100%;
  height: 40px;
  background-color: red;
}

#nav-title {
  color: #6a941b;
  background-color: white;
}

.navbar.navbar-default.navbar-fixed-top li a{
    color: #182b69;
}

.control-label {
  display: block;
}

.checkbox {
  display: inline;
  margin: 5px;
}

// .project-box {
//   border: 2px blue solid;
//   display:inline-block;
// }
