/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require bootstrap-social
 *= require_tree .
 *= require_self
 */

 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";

 // Import cerulean variables
 @import "bootswatch/cerulean/variables";

 // Then bootstrap itself
 @import "bootstrap";

 // Bootstrap body padding for fixed navbar

 // And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

@import url(https://fonts.googleapis.com/css?family=Chewy);


html, body {
  height: 100%;
}

.container {
  text-align: center;
  min-height: 100%;
}

.content {
 min-height: 100%;
 padding-top: 50px;
}

.navbar.navbar-default.navbar-fixed-top {
  .container {
    background-color: #37A7E7;
  }
}

li {
  list-style-type: none
}

.field_with_errors input {
  border-color: red
}

.navbar-collapse.collapse.in {
  text-align: center;
}

.flash-notice {
  width: 100%;
  height: 40px;
  background-color: green;
}

.flash-alert {
  width: 100%;
  height: 40px;
  background-color: red;
}

#nav-title {
  color: #6a941b;
  background-color: #2B2B2B;
  font-family: Chewy;
  border-radius: 50%;
}

.navbar.navbar-dark.bg-primary.navbar-fixed-top {
  height: 20px;
}

.navbar.navbar-dark.bg-primary.navbar-fixed-top li a{
  color: white;
  padding-bottom: 0px;
}

.navbar.navbar-dark.bg-primary.navbar-fixed-top li a:hover {
  background-color: #0038ff;
  padding-bottom: 0px;
  height: 100%
}

.nav.navbar-nav.navbar-right button {
  margin: 5px;
}

.control-label {
  display: block;
}

.checkbox {
  display: inline;
  margin: 5px;
}

.btn.btn-social.btn-github {
  width: 190px;
  padding-right: 0px;
  padding-left: 30px;
}

footer {
  padding: 25px 0;
  text-align: center;
  width: 100%;
  background: #2A2A2A;
  color: #fff;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}

footer a {
 font-size: 15px;
 color: #555;
}

footer a:hover {
 color: #fff;
 text-decoration: none;
}

.glyphicon.glyphicon-home {
  margin-right: 5px;
}
